body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
/* ============ HEADER STYLES ============ */

.top-header {
  border-bottom: 1px solid #e7e9fc;
}
.box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
}
.top-navigation {
  align-items: center;
  display: flex;
}

.top-logo {
  padding: 24px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: #4d5ae5;
  margin-right: 76px;
}
.accent {
  color: #2e2f42;
}
.menu {
  display: flex;
  gap: 40px;
}
.contacts-list-list {
  display: flex;

  gap: 40px;
  align-items: center;
}
button {
  cursor: pointer;
}
section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.menu-link {
  display: block;
  padding: 24px 0;
}

.menu-item .menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-item .menu-link:hover,
.menu-item .menu-link:focus {
  color: #404bbf;
}
address {
  font-style: normal;
}

.contact-list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  display: block;
}
.contact-list-link:hover,
.contact-list-link:focus {
  color: #404bbf;
}

/* ============ HERO STYLES ============ */
.page-hero {
  padding: 188px 0;

  background-color: #2e2f42;
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto 48px;
  max-width: 496px;
}
.main-button {
  height: 56px;
  display: block;
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
  min-width: 169px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

.skills-list {
  gap: 24px;
  display: flex;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin-bottom: 8px;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.skills-list-item {
  width: calc((100% - 72px) / 4);
}
.skills-list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.skills-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*--------------TEAM----------------*/
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.main-header-team {
  margin-bottom: 72px;
  text-align: center;
  line-height: 1.11;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.box-position {
  padding: 32px 0;
}

.main-header-portfolio {
  margin-bottom: 72px;
}
.team-name {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-position {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.main-header-portfolio {
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.box-portfolio-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.page-footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
  line-height: 1.17;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  background-color: #2e2f42;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #2e2f42;
  max-width: 264px;
}
.accent-footer {
  color: #f4f4fd;
}
